* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    background-color: #f4f6f9 !important;
    height: 100%;

}

@media screen and (max-width: 500px) {
    #leftSideLogo {
        display: none;
    }

    #rightSideLogo {
        display: none;
    }

    #announcement {
        display: none;
    }

    div.carousel-inner img {
        height: 200px !important;
        width: 100%;
    }

}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.header-bar {
    background-color: white;
    z-index: 10;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo {
    height: 40px;
    padding-left: 30px;
}

.header-links-div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-links {
    text-align: center;
    color: #999 !important;
}

.header-links:hover {
    text-decoration: none;
    color: #1589ee;
    cursor: pointer;
}

.header-links:focus {
    text-decoration: none;
}

.header-dropdown {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-profile-img {
    height: 30px;
    border-radius: 50%;
    border: solid 1px gray;
}

.header-dropdown-menu {
    padding: 0;
    margin-top: 10px;
    border: none;
    border-radius: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background-color: #FFF;
}

.header-dropdown-menu-li {
    padding: 10px;
    padding-left: 20px;
    border-bottom: solid 1px #DDD;
}

.header-dropdown-menu-li-a {
    color: #666;
}

.header-jumbotron {
    margin-bottom: 0;
    background: #1589ee;
}

.jumbotron-title {
    color: floralwhite;
}

.jumbotron-description {
    color: floralwhite;
    font-size: x-large;
}

.dropdown-menu {
    left: 10% !important;
}

.jumbotron {
    border-radius: 0;
    padding: 2rem 1rem;
}

.label-style {
    color: #888;
}

.list-inline {
    padding-left: 20px;
    list-style: none;
    padding-right: 20px;
}

.li-card {
    padding: 20px;
}

.card-img-top {
    height: 200px;
}

.card {
    border-radius: 0;

}

.card:hover {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    transition: all 150ms linear;
    transform: scale(1.05, 1.05);
}

.btn-style:hover {
    text-decoration: none;
    cursor: pointer;
}

/*.col-sm-8 > .row, .col-sm-2 > .row {*/
/*background-color: black;*/
/*}*/

.nav-item > a {

    font-size: 16px;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item:hover > a {
    color: black !important;
}

#main-content > div > div.row {
    margin-top: 26px;
    background-color: white;
    box-shadow: #DDD 0 0 8px 1px;
    border-radius: 0.25rem;
    /*padding-top: 10px;*/
}

.jumbotron-description {
    margin-bottom: 0px;
}

@keyframes moveLeftRight {
    0% {
        margin-left: 10%;
    }
    50% {
        margin-left: 80%;
    }
    100% {
        margin-left: 10%;
    }
}

@keyframes flash {
    0% {
        background-color: yellow;
        opacity: 1;
    }

    50% {
        background-color: white;
        opacity: 0;
    }

    100% {
        background-color: yellow;
        opacity:1;
    }
}

#flash-yellow {
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
}

#announcement {
    animation-name: moveLeftRight;
    position: absolute;
    left: 0;
    margin-left: 10%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

#main-content > div > div.row > div {
    margin-top: 10px;
}

.important-date-description {
    font-size: 20px;
    color: #222;
    margin-bottom: 4px;
}

.important-date {
    color: blue;
    display: block;
    font-size: 20px;
}

div.carousel-item > img {
}

div.carousel-inner img {
    height: 500px;
    width: 100%;
}

ul.navbar-nav > li > a {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #999;
    font-size: 19px;
}

ul.navbar-nav > li:hover > a {
    color: #1589ee !important;
}

div.overview-description span {
    font-family: Lato, sans-serif;
}

ul.list-group > li {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #555555;

}

.filter-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-bar-ul-li {
    float: left;
    margin: 5px;
    height: auto;
}

.filter-bar-ul-li-filter {
    width: 100%;
    height: 100%;
    background-color: #1589ee;
    color: white;
    padding: 5px;
    border-radius: .125rem;
    padding-left: 8px;
    padding-right: 8px;
}

.nav-tabs .nav-link {
    border: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.nav-tabs .nav-link.active {
    border: 0 !important;

    border-bottom: 2px solid;
    border-bottom-color: #1485E8;
}

.a-style {
    color: #999;
    font-weight: 500;
}

.a-style:hover {

    color: #999;
    font-weight: 500;
}

.sponsorshipList {
    list-style-type: square;

}

.sponsorshipList > li {
    color: #555555;
    font-size: 14pt;
    font-family: Lato, sans-serif;
}

.navbarTots {
    background-color: white;
    box-shadow: #DDD 0 0 8px 1px;
}

.altNav {
    box-shadow: 0 3px 3px lightgrey;
    background-color: #fafafa;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: black;
}

.nav-tabs > li > a:hover {
    background-color: aliceblue;
}

.nav-tabs .nav-link.active {
    color: #007bff;
}

.sponsorshipList > li {
    color: black;
}

.a-style {
    color: black;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

#jumbotron {
    transition: margin-top 0.5s;
}

.carousel-caption {
    left: 2%;
    right: 2%;
    text-align: left;
}

.carousel-caption > h1 {
    font-size: 60px;
    font-family: 'PT Sans', sans-serif;
}