{% extends '/conference/TEAMC2018_new/template.html' %}

{% block head %}

<title>
    NSIT | TEAMC 2018
</title>
<meta property="og:title" content="About | NSIT" />
<meta name="twitter:title" content="About | NSIT">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock head %}

{% block content %}

  <!--  <div class = "container col-md-12 col-sm-12">
      <ol class="breadcrumb">
        <li><a href="{{ url_for('Conference_Sigma2018_Home') }}">Home</a></li>
        <li class="active">About TEAMC 2018</li>
      </ol>-->
	  <br>
<span class="blink"><font size ="4" color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submission will be open soon.</font></span>
	  <br>
   
          <div class="col-md-1 col-sm-12">
            <div class="sidebar_nav">
			<section class="links">
			<!-- <h3 class="section-heading text-highlight"><p class="bg-info" style="text-align:center"><b>Sponsors</b></p></h3> -->
			<div class="section-content">
			<br>
			<br>               


			   <!-- <ul class="nav nav-list">
				<li><b><p class="bg-info" style="text-align:center">Sponsors</p></b></li>
                 <!--<li><a href="{{ url_for('Conference_TEAMC2018_Home') }}">Sponsors</a></li>
				  <li>  </li>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>				  
                </ul>		 -->	
              </div>
			  </section>
            </div>
			</div>
  
	 
      <div class="col-md-8" style="background-color:#e6e6e6;border-top: 5px solid #b3b3b3;border-bottom: 5px solid #b3b3b3;">

	  <!-- <marquee direction="right" behavior="alternate"> <span class="blink"><font color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- This is an initial announcement.  Submission will be open soon.</font></span><!-- </marquee> -->

<!--<p><a href="http://www.iospress.nl/journal/journal-of-intelligent-fuzzy-systems/"><img src="{{ url_for('static', filename='images/SIGMA2018/iospress.jpg') }}" width="80" height="60" hspace="350"></a><!--<a href="http://www.springer.com/series/11156"><img src="{{ url_for('static', filename='images/SIGMA2018/Springer_img.jpg') }}" width="150" height="50"></a></p>-->
<br>
 <!--<p>With the continuing saga&nbsp; of the digital revolution, we are witnessing a massive extension of both functionality as well as data around systems and applications. Extensible and adaptable computing refers to the array of methods and techniques that systematically tackle the future growth of systems and respond proactively and seamlessly to change.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>The First International Conference on the theme <strong><em>Towards Extensible and Adaptable Methods in Computing</em> &ndash; (TEAMC-2018)</strong>, aims to bring together academicians, researchers and practitioners on a common platform for identifying the challenges, sharing ideas, developing strategies, discussing best practices and presenting solutions to solve the problems being faced in converging domains of computing towards extensibility and adaptability.</p>
<p>Netaji Subhas Institute of Technology (N.S.I.T.), New Delhi is a reputed Institute of&nbsp; engineering and technological education in India. An autonomous institute of the Govt. of N.C.T. of Delhi, it is affiliated to Delhi University. TEAMC-2018 is organized under the aegis of N.S.I.T. by the Computer Engineering Division. It is <strong>scheduled during 27-29 March 2018 </strong>- a delightful spring time in Delhi. The <strong>venue will be Netaji Subhas Institute of Technology, Sector 3, Dwarka, New Delhi-110075</strong>.</p>
<p>We invite you to participate in TEAMC-2018 to share and discuss the technological challenges in emerging areas of computing. It includes tracks on <strong>Agile Software Development, Web Intelligence, Database Technologies, Computing methods in Education </strong>and<strong> Machine Intelligence</strong>. The conference will feature technical sessions, keynote talks, demonstrations, tutorials and panel discussions.</p> -->

<!--
<p>The First International Conference on the theme&nbsp;<em><strong>Towards Extensible and Adaptable Methods in Computing</strong></em><strong>&nbsp;&ndash; (TEAMC-2018)&nbsp;</strong>provides a platform for academicians, researchers and practitioners to discuss problems, strategies and best practices in convergent domains of computing.&nbsp;Taking centre stage in the continuing saga&nbsp; of the digital revolution, extensible and adaptable computing methods respond seamlessly to changes in time, data, functionality and context.&nbsp;</p>
<p>TEAMC-2018 is organized under the aegis of Netaji Subhas Institute of Technology, New Delhi - a reputed seat of&nbsp; higher education affiliated to Delhi University, under the Govt. of NCT of New Delhi. It is&nbsp;<strong>scheduled during&nbsp;<span class="aBn" tabindex="0" data-term="goog_1178564489"><span class="aQJ">26-28 March 2018</span></span>&nbsp;</strong>- a delightful spring time in Delhi. The&nbsp;<strong>venue will be Netaji Subhas Institute of Technology, Sector 3, Dwarka, New Delhi-110075</strong>.</p>
<p>We invite you to participate in this event featuring technical sessions, keynote addresses, demonstrations, tutorials and panel discussions.</p>
	-->
	<!-- <br> -->
<p class="MsoNormal" style="text-align:justify"><span style="font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">The International Conference, <b>Towards
Extensible and Adaptable Methods in Computing-TEAMC 2018</b>, will be held during
26-28 March, 2018 under the aegis of Netaji Subhas Institute of Technology
(NSIT), New Delhi.<o:p></o:p></span></a></p>

<p class="MsoNormal" style="text-align:justify"><span style="font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">Extensible and adaptable computing
refers to the array of methods and techniques that systematically tackle the
future growth of systems and respond proactively and seamlessly to change. This
conference will provide an excellent opportunity to researchers, practitioners
and students to share ideas, discuss best practices and collaborate together to
solve problems in convergent domains of computing that strive towards
extensibility and adaptability.<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align:justify;font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">TEAMC 2018 includes the following tracks:
<ul>
<li style="text-align:justify;font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">Agile Software Development</li>
<li style="text-align:justify;font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">Web Intelligence</li>
<li style="text-align:justify;font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">Data Management</li>
<li style="text-align:justify;font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">Computing for Education</li>
<li style="text-align:justify;font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">Machine Intelligence</li>
</ul>
<p class="MsoNormal" style="text-align:justify;font-size:14.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Arial&quot;">The conference will feature regular technical sessions, keynote speeches, workshops, panel discussions and a design contest</p></p><span style="font-size:14.0pt;
line-height:107%;font-family:&quot;Arial&quot;,sans-serif"><o:p></o:p></span></p>
<br><br><br><br><br><br>
    </div>
	
	<div class="col-md-3">
	<div class="sidebar_nav">	
	<section class="links">
         <h3 class="section-heading text-highlight"><p class="bg-info" style="text-align:center"><b>Important Dates</b></p></h3>
      <div class="section-content">
	  <br>
	 <!--  <p class="bg-primary" style="text-align:center">Last Date for Submission</p>        
      <p class="bg-info" style="text-align:center">1 November 2017 </p>
	  <p class="bg-primary" style="text-align:center">Acceptance</p>
	  <p class="bg-info" style="text-align:center">20 December 2017</p>
	  <p class="bg-primary" style="text-align:center">Camera Ready Paper Submission</p>
	  <p class="bg-info" style="text-align:center">15 January 2018</p>
	  <p class="bg-primary" style="text-align:center">Timely Registration</p>
	  <p class="bg-info" style="text-align:center">15 January 2018</p>
	  <p class="bg-primary" style="text-align:center">Registration with Late Fee</p>	
	  <p class="bg-info" style="text-align:center">25 January 2018</p>
	  <p class="bg-primary" style="text-align:center">Date of Conference</p>		
	  <p class="bg-info" style="text-align:center">26-28 March 2018</p>	 -->	
	  <p style="text-align:center"><b><font size ="2">Conference Dates</font></b></p><p style="text-align:center"><font size ="3" color="blue">26-28 March, 2018 </font></p>	  
	  <p style="text-align:center"><b><font size ="2">Last Date for Submission</font></b></p><p style="text-align:center"><font size ="3" color="blue">15 November, 2017 </font></p>
	  <p style="text-align:center"><b><font size ="2">Last Date for Notification of Acceptance</font></b></p><p style="text-align:center"><font size ="3" color="blue">20 January, 2018</font></p>
	  <p style="text-align:center"><b><font size ="2">Last Date for Camera Ready Submission</font></b></p><p style="text-align:center"><font size ="3" color="blue">15 February, 2018</font></p>
	  <p style="text-align:center"><b><font size ="2">Last Date for Early Bird Registration</font></b></p><p style="text-align:center"><font size ="3" color="blue">15 February, 2018</font></p>
	  <p style="text-align:center"><b><font size ="2">Last Date for Standard Registration</font></b></p><p style="text-align:center"><font size ="3" color="blue">10 March, 2018</font></p>
	  <br><br>
	  <p style="text-align:center"><font size ="3"><b>See </font><a href="ftp://ftp.springer.de/pub/tex/latex/svproc/guidelines/Springer_Guidelines_for_Authors_of_Proceedings.pdf" target="_blank"><font size ="3" color="blue">Submission guidelines</b></font></a></p>
<p style="text-align:center"><font size ="2"><b>Submit your paper  <a href="http://springerocs" class="disabled"><font size ="3"> here</font></b></font></a>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align:center"><font size ="3"><b>See </font><a href="{{ url_for('Conference_TEAMC2018_new_Registration') }}"><font size ="3" color="blue">Registration guidelines</b></font></a></p>
<p style="text-align:center"><font size ="2"><b>Register<a href="http://nsit.ac.in/TEAMC/reg" class="disabled"><font size ="3"> here</font></b></font></a></p>


	  <br><br><br><br>
	  
	</div>
	</section>
	</div>
	</div>
<!-- <div class="row cols-wrapper">
<div class="col-md-6">
            
	
</div>          
</div> -->


{% endblock content %}

{% block js %}

{% assets "index_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock js %}