{% extends '/conference/TEAMC2018/template.html' %}

{% block head %}
<title>
    NSIT | SIGMA 2018
</title>
<meta property="og:title" content="About | NSIT" />
<meta name="twitter:title" content="About | NSIT">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock head %}

{% block content %}

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="{{ url_for('Conference_Sigma2018_Home') }}">Home</a></li>
        <li class="active">Important Dates:</li>
      </ol>      
      <div class="col-md-12">
<h3> style="margin: 0in; margin-bottom: .0001pt;"><span style="color: #b30000;"><b>Important Dates</b></span></h3>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</h4>
<table style="width: 606px; background-color: #ccddff;" border="1">
<tbody>
<tr>
<td style="width: 306px;">
<h4>Last Date for Submission</h4>
</td>
<td style="width: 288px;">
<h4>15<sup>th&nbsp;</sup>November 2017</h4>
</td>
</tr>
<tr>
<td style="width: 306px;">
<h4>Notification of Acceptance</h4>
</td>
<td style="width: 288px;">
<h4>20<sup>th</sup>&nbsp;January 2018</h4>
</td>
</tr>
<tr>
<td style="width: 306px;">
<h4>Camera Ready Submission</h4>
</td>
<td style="width: 288px;">
<h4>15<sup>th</sup>&nbsp;February 2018</h4>
</td>
</tr>
<tr>
<td style="width: 306px;">
<h4>Early Bird Registration</h4>
</td>
<td style="width: 288px;">
<h4>15<sup>th</sup>&nbsp;February 2018</h4>
</td>
</tr>
<tr>
<td style="width: 306px;">
<h4>Standard Registration</h4>
</td>
<td style="width: 288px;">
<h4>25<sup>th</sup>&nbsp;February 2018</h4>
</td>
</tr>
 <!-- <tr>
<td style="width: 306px;">
<h4>Date of Conference</h4>
</td>
<td style="width: 288px;">
<h4>26<sup>th</sup>&nbsp;<sup>&nbsp;</sup>- 28<sup>th</sup>&nbsp;March 2018</h4>
</td>
</tr>  -->
</tbody>
</table>

    </div>
   
</div>

<li><a href="{{ url_for('Conference_TEAMC2018_new_Home') }}"><h4>Submission guidelines</h4></a></li></h3>

{% endblock content %}
